.login {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;

}

.space {
    margin-top: 4rem !important;
}

.sign-up {
    color: blue !important;
}

#messageDiv {
    color: red;
}

.new-line {
    display: block;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.bg {
    /* The image used */
    /* background-image: url("https://images.unsplash.com/photo-1617957718587-60a442884bee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z3JhZGllbnQlMjBncmVlbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60"); */
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5872942927170868) 0%, rgba(255, 173, 0, 0.4724483543417367) 100%);
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.same-line-div {
    display: flex;
}

.border-div {
    border-style: solid;
    border-width: medium;
}

.login-pic {
    background: url("https://i.pinimg.com/originals/a6/55/70/a65570bd40d125cfe6abacbf85e96b3b.jpg");
    /* Full height */
    height: 550px;

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
}

.login-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    text-shadow: 2px 2px 4px #3c3737;
}

.under-login-header {
    font-family: Arial, Helvetica, sans-serif;
}

.header-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-logo {
    border-radius: 50%;
}

.pal-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #383636;
    /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.dash-header{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px #3c3737;
}

