.login {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;

}

.space {
    margin-top: 4rem !important;
}

.sign-up {
    color: blue !important;
}

#messageDiv {
    color: red;
}

.new-line {
    display: block;
}

body,
html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1617957718587-60a442884bee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z3JhZGllbnQlMjBncmVlbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.same-line-div {
    display: flex;
}

.border-div {
    border-style: solid;
    border-width: medium;
}